<ul class="nav bs-sidenav">
  <li><%= link_to title_badge("收件箱", Topic.inbox.count),   inbox_topics_path %></li>
  <li><%= link_to title_badge("忽略的", Topic.ignored.count), ignored_topics_path %></li>
  <li><%= link_to title_badge("关注的", Topic.cared.count),   cared_topics_path %></li>
  <li><%= link_to title_badge("全部",   Topic.count),         topics_path %></li>
</ul>
