<ul class="nav bs-sidenav">
  <li><%= link_to 'All', topics_path %></li>
  <li><%= link_to 'Ignored', ignored_topics_path %></li>
  <li><%= link_to 'Cared', cared_topics_path %></li>
  <li><%= link_to 'New Topic', new_topic_path %></li>
</ul>
