<%= draw_action_header "标签" %>

<div class="well">
  <div class="btn-group">
    <%= draw_button_to '新建标签', new_tag_path %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名称</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><%= link_to tag.name, tag %></td>
    </tr>
    <% end %>
  </tbody>
</table>
