<%= draw_action_header "标签 #{@tag.name} #{@tag.topics.count} Topics" %>

<div class="well">
  <div class="btn-group">
    <%= draw_button_to '编辑', edit_tag_path(@tag) %>
    <%= draw_button_to '删除', tag_path(@tag), :method => :delete %>
  </div>
</div>

<%= render './topics/list', :topics => @tag.topics %>
